<div id="registration-form">
  <div id="container">
    <div class="registration-form-placeholder">
      <h1>{{ 'Please wait. The sign-up form will load in a few seconds.'|t }}</h1>
    </div>
  </div>
</div>
<script src="{{ lightning_endpoint }}/lightning/lightning.out.js" ></script>
